h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  text-align: center;
}

.shopping-cart-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shopping-cart-empty button {
  margin-top: 40px;
  width: 100px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

table {
  width: 100%;
  border-spacing: 0;
  font-size: 17px;
}

.first {
  width: 65%;
}

.product-price {
  width: 9%;
}

.product-quantity {
  width: 10%;
}

.product-total-price {
  font-weight: 600;
  width: 12%;
}

tr.product-container > td {
  border-top: 1px solid #c4c7c8;
}

tr.product-container:last-child > td {
  border-bottom: 1px solid #c4c7c8;
}

.table-header {
  text-align: center;
  font-weight: 500;
  font-size: medium;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

th {
  height: 30px;
}

td {
  padding: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.product-image.product-name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-image img {
  height: 100px;
  padding: 10px;
}

.product-name h3 {
  font-weight: 500;
  font-size: 16px;
}

.product-price,
.product-total-price,
.product-quantity,
.product-remove {
  text-align: center;
}

.remove-from-cart {
  height: 23px;
  width: 23px;
  border: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/sklep/images/ui/cross-medium.svg");
}

.shopping-cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  width: 33%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-right {
  justify-content: space-between;
}

.footer-left {
  justify-content: flex-end;
}

.order-cost {
  font-size: 17px;
}

.order-cost-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}

.order-cost-row:last-of-type {
  font-weight: 600;
}

.button-next,
.button-back {
  width: 100%;
}

div.quantity-input-container {
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.quantity-input-container td {
  height: 35px;
  width: 25px;
  padding: 0;
  outline: 2px solid #e83f6f;
}

.quantity-input-container td:first-child {
  -webkit-transform: translate(1px, 0px);
  -ms-transform: translate(1px, 0px);
  transform: translate(1px, 0px);
}

.quantity-input-container td:last-child {
  -webkit-transform: translate(-1px, 0px);
  -ms-transform: translate(-1px, 0px);
  transform: translate(-1px, 0px);
}

.quantity-input-container button,
.quantity-input-container span {
  border: none;
  color: #e83f6f;
  font-size: 18px;
}

.quantity-input-container button {
  height: 100%;
  width: 100%;
}

.quantity-input-container span {
  cursor: default;
  width: 30px;
  display: inline-block;
  padding: 0;
  text-align: center;
  background-color: white;
}

.clear-cart-button {
  border: none;
  font-size: 15px;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
}

.clear-cart-button img,
.clear-cart-button span {
  height: 60%;
  padding: 2px;
  display: flex;
  align-items: center;
}
