main {
  padding: 0;
}

/*      Slideshow gallery     */

.slideshow-container {
  height: calc(100vw * (720 / 2560));
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Promotional banner */

a.promo-banner-container {
  height: 100%;
  width: fit-content;
  position: absolute;
  transition: 1s;
}

.promo-banner {
  height: 100%;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 1px;
}

.promo-banner-container:nth-of-type(1) .promo-banner {
  background-image: url(/sklep/images/main/promo_banner.jpg);
}

.promo-banner-container:nth-of-type(2) .promo-banner {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png");
}

.promo-banner-container:nth-of-type(3) .promo-banner {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png");
}
