/*      FONTS      */

/*      Main font     */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

/*      Headers     */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/*      COLORS      */

/* Accent color: #E83F6F */

/*      GENERAL       */

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

*:focus {
  outline: none;
}

a {
  color: black;
}

a:hover,
button:hover {
  cursor: pointer;
}

.pink-text {
  color: #e83f6f;
}

.uppercase {
  text-transform: uppercase;
}

button,
input[type="submit"] {
  background-color: white;
  border: 2px solid #e83f6f;
  color: #e83f6f;
  font-weight: 500;
  height: 45px;
  font-size: 17px;
  border-radius: 1px;
  cursor: pointer;
}

main,
.footer {
  padding-left: clamp(0px, 20vw, 20vw);
  padding-right: clamp(0px, 20vw, 20vw);
}

.off {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.hidden {
  visibility: hidden;
}

.not-displayed {
  display: none !important;
}

button.pink-button,
button.white-button:hover,
input.pink-button,
input.white-button:hover {
  color: white;
  background-color: #e83f6f;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

button.white-button,
button.pink-button:hover,
input.white-button,
input.pink-button:hover {
  color: #e83f6f;
  background-color: white;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

h3.line-limit,
span.line-limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

button.add-to-cart-success {
  background-color: #3fe864;
  color: white;
  border: none;
}

button.add-to-cart-failure {
  background-color: #e83f45;
  color: white;
  border: none;
}

body.scroll-block {
  height: 100%;
  overflow: hidden;
}

.add-to-fav {
  height: 35px;
  width: 35px;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/sklep/images/ui/heart-pink.svg");
}

.add-to-fav.fav {
  background-image: url("/sklep/images/ui/heart-pink-filled.svg");
}

textarea {
  resize: none;
}

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  text-align: center;
  font-size: xx-large;
}

/*      HEADER      */

header {
  position: fixed;
  z-index: 300;
  top: 0;
  height: 7vh;
  width: 100%;
  padding-top: 6vh;
  padding-bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  gap: 2%;
  background-color: white;
  -webkit-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

header.header-small {
  height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  -webkit-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/*      Logo      */

.logo_big-container {
  height: 95%;
  overflow: hidden;
}

.logo_big-container a {
  height: 100%;
  width: 100%;
}

.logo_big {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*      Search bar & button      */

.search-container {
  height: 100%;
}

.search-container form {
  height: 100%;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search-field {
  height: 100%;
  width: 18vw;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #e83f6f;
}

.search-button {
  height: 23px;
  width: 23px;
  border: none;
  background-color: white;
  background-image: url("/sklep/images/ui/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-button:hover,
.header-buttons button:hover {
  cursor: pointer;
}

.search-field:hover {
  cursor: text;
}

/*      Header buttons      */

.header-buttons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-buttons button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-buttons button.header-account {
  background-image: url("/sklep/images/ui/user.svg");
}

.header-buttons button.header-cart {
  background-image: url("/sklep/images/ui/shopping-cart.svg");
}

.header-buttons button.header-fav {
  background-image: url("/sklep/images/ui/heart.svg");
}

/*      Cart button - icon showing amount      */

.container-cart-items-amount {
  height: 100%;
  width: 100%;
  position: relative;
}

.circle-cart-items-amount {
  position: absolute;
  bottom: 0;
  right: 1px;
  height: 15px;
  width: 15px;
  background-color: #e83f6f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cart-items-amount {
  font-size: 13px;
  font-weight: 500;
  color: white;
}

/*      NAVIGATION MENU     */

nav {
  margin-top: 19vh;
}

.navigation-categories {
  background-color: white;
  height: 10vh;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.navigation-categories ul {
  list-style-type: none;
  font-weight: 500;
}

.navigation-categories > ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation-categories li {
  height: 100%;
}

.navigation-categories a {
  height: 100%;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navigation-categories a:hover {
  color: #e83f6f;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.category .uppercase {
  font-weight: 500;
}

.subcategory {
  margin-bottom: 2vh;
}

.subsubcategory {
  padding: 0.5vh;
}

.categories-bg {
  overflow: hidden;
  padding: 4vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #e0e0e0;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 99;
}

.categories-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/*      Newsletter      */ /* Not used, todo */

.newsletter-container {
  background-color: #e83f6f;
  height: 20vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*      Social media links      */

.social-media {
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-media a {
  background-color: white;
  background-repeat: no-repeat;
}

.social-media img {
  margin: 1vh;
}

.social-media h2 {
  font-weight: 500;
}

/*      FOOTER      */

footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 6vh;
  padding-bottom: 6vh;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer div div {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer a {
  margin-top: 2vh;
}

footer h4 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

/*      ADDITIONAL     */

/*      Button sending to the top of the website     */

.to-top {
  display: none;
  position: fixed;
  bottom: 4vh;
  right: 4vh;
  height: 64px;
  width: 64px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("/sklep/images/ui/arrow-up.svg");
}

.to-top:hover {
  cursor: pointer;
}

.to-top.active {
  display: block;
}

/*      Shopping cart preview container       */

.preview-cart-container.fixed {
  top: 6.5vh;
}

.preview-cart-container {
  border: none;
  height: 490px;
  position: absolute;
  top: 5vh;
  left: -135px;
}

/*      Account preview container     */

.account-container.fixed {
  top: 6.5vh;
}

.account-container {
  border: none;
  height: 300px;
  position: absolute;
  top: 5vh;
  left: -135px;
}

/*      Loading screen      */

.loading-screen {
  background-color: #00000023;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

/*      Breadcrumbs     */

.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs ul li {
  display: inline;
}

.breadcrumbs ul li + li:before {
  padding: 8px;
  color: #c5c5c5;
  content: ">";
}

.breadcrumbs li a {
  color: #c5c5c5;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s ease-out;
}

.breadcrumbs li:last-child a {
  color: black;
}

.breadcrumbs li a:hover {
  color: black;
  transition: 0.2s ease-out;
}

/*      ANIMATIONS      */

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@-webkit-keyframes shake-horizontal-delay-between {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  10%,
  20%,
  30% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  40% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  45% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@keyframes shake-horizontal-delay-between {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  10%,
  20%,
  30% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  40% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  45% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
