.preview-cart-shape,
.account-shape {
  --padding: 20px;
  width: calc(var(--size) - var(--padding));
  height: calc(var(--size) * 1.3);
  padding: var(--padding);
  background: #fff;
  border-radius: 1px;
  border: 1px solid #e3e3e3;
}

.preview-cart-products {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

.preview-cart-products::-webkit-scrollbar {
  width: 5px;
}

.preview-cart-products::-webkit-scrollbar-track {
  background: transparent;
}

.preview-cart-products::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 1px;
}

.preview-cart-products::-webkit-scrollbar-thumb:hover {
  background: #959595;
}

.preview-cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
  height: 115px;
}

.preview-cart-product:last-child {
  border: none;
}

.preview-cart-product > div.preview-cart-info {
  width: 260px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.preview-cart-product > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview-cart-product h4 {
  margin-right: 5px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
}

.preview-cart-product img {
  height: 50px;
  margin-right: 10px;
}

.preview-cart-product span {
  font-size: 14px;
  margin-right: 10px;
}

.preview-cart-product button {
  position: relative;
  top: 50%;
  width: 15px;
  height: 15px;
  border: none;
  background-image: url(../images/ui/cross-small.svg);
  background-repeat: no-repeat;
  padding: 10px;
  margin-right: 5px;
}

.preview-cart-cost {
  border-top: 1px solid #e3e3e3;
  padding-top: 15px;
  margin-bottom: 15px;
}

.preview-cart-cost div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 2px;
}

.preview-cart-cost div:last-child {
  font-weight: 600;
}

.account-shape {
  display: flex;
  flex-direction: column;
}

.preview-cart-shape button,
.account-shape button {
  width: 100%;
}

.account-shape .display-username {
  display: block;
  text-align: center;
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;
  cursor: default;
}

.account-shape a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.account-shape a {
  border-bottom: 1px solid #e3e3e3;
}

.account-shape span {
  text-align: center;
}

.login-button {
  margin-bottom: 5px;
}

.register-button {
  margin-top: 5px;
}
