.product-information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.img-gallery,
.info {
  padding: 1vh;
}

.add-to-fav {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 45px;
  width: 45px;
  z-index: 20;
  background-color: transparent;
}

/*      Gallery     */

.gallery-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
}

.gallery-main-img {
  width: 100%;
  outline: 1px solid #dfdfdf;
  cursor: pointer;
}

.gallery-thumbs {
  outline: 1px solid #dfdfdf;
  display: flex;
  overflow-x: hidden;
  width: 500px;
}

.gallery-thumbs img {
  width: calc(500px / 4);
  object-fit: cover;
}

.thumbnail:not(.thumbnail:nth-of-type(5)) {
  outline: 1px solid #dfdfdf;
}

.thumbnail {
  cursor: pointer;
}

/*      Closeup gallery     */

.gallery-closeup {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}

.gallery-controls {
  z-index: 600;
  position: fixed;
}

.gallery-controls * {
  position: fixed;
  cursor: pointer;
}

.gallery-close {
  right: 30px;
  top: 30px;
}

.gallery-previous {
  left: 30px;
  top: 50%;
}

.gallery-next {
  right: 30px;
  top: 50%;
}

.gallery-closeup-img {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;
}

.gallery-displayed-img {
  height: 600px;
}

.gallery-closeup-thumbs {
  display: flex;
  position: absolute;
  z-index: 501;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: white;
}

.gallery-closeup-thumbs img {
  width: calc(500px / 4);
  object-fit: cover;
}

.closeup-thumbnail {
  cursor: pointer;
  outline: 1px solid #dfdfdf;
}

/*      Product info      */

.product-information h4 {
  font-weight: 400;
  font-size: x-large;
  color: #4f4f4f;
  margin-bottom: 10px;
}

.product-information h3 {
  font-weight: 400;
  font-size: xx-large;
  margin-bottom: 20px;
}

.product-information span {
  font-weight: 500;
  color: #e83f6f;
  font-size: x-large;
  cursor: default;
}

.product-information span.unavailable {
  color: #777777;
}

/*      Add to cart section     */

.add-to-cart-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  width: 75%;
}

.quantity-input-container td {
  height: 40px;
  width: 40px;
  padding: 0;
}

.quantity-input-container button,
.quantity-input-container span {
  font-size: 22px;
  border: none;
}

.quantity-input-container button {
  height: 100%;
  width: 100%;
}

.quantity-input-container span {
  display: inline-block;
  width: 45px;
  padding: 0;
  text-align: center;
}

button.add-to-cart-button {
  height: 43px;
  width: 250px;
}

.quantity-input-container.available td {
  outline: 2px solid #e83f6f;
}

.quantity-input-container.available span {
  background-color: white;
}

.quantity-input-container.unavailable {
  background-color: #cecece;
}

.quantity-input-container.unavailable td {
  outline: 2px solid #c2c2c2;
}

.quantity-input-container.unavailable span,
.quantity-input-container.unavailable button {
  color: #777777;
  background-color: #cecece;
  cursor: default;
}

button.add-to-cart-button.unavailable {
  color: #777777;
  background-color: #cecece;
  border: none;
  cursor: default;
}

/*      Availability info     */
.availability-info span {
  font-size: 12px;
  margin-bottom: 20px;
  color: black;
}

.availability-info span.unavailable {
  color: #777777;
}

/*      Accordion description     */
.accordion {
  margin-top: 10px;
  background-color: white;
  border: 2px solid #e83f6f;
  color: #e83f6f;
  height: 45px;
  padding: 15px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion::after {
  content: "+";
  font-size: 30px;
}

.accordion:hover {
  opacity: 0.7;
}

.accordion-content {
  background: #ffffff;
  overflow: hidden;
  max-height: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  overflow: hidden;
  box-sizing: border-box;
  border-width: 0 2px 0px 2px;
  border-style: solid;
  border-color: #e83f6f;
}

#state:checked ~ .accordion-content {
  max-height: 2000px;
  border-width: 0 2px 2px 2px;
}

.accordion-inner p {
  padding: 20px;
}
