.category-tree {
    font-size: 15px;
    font-weight: 500;
    color: #c5c5c5;
    padding: 5px;
}

.category-tree a {
    color: #c5c5c5;
    font-family: 'Montserrat', sans-serif;
}

.product-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-gallery,
.info {
    padding: 1vh;
}

.xzoom {
    width: 500px;
}

.xzoom-thumbs img {
    display: inline-block;
    height: 125px;
}

.xzoom-preview {
    box-shadow: 0px 0px 25px 4px rgba(215, 215, 215, 1);
    border-radius: 1px;
}


.product-information h4 {
    font-weight: 400;
    font-size: x-large;
    color: #4f4f4f;
    margin-bottom: 10px;
}

.product-information h3 {
    font-weight: 400;
    font-size: xx-large;
    margin-bottom: 20px;
}

.product-information span {
    font-weight: 500;
    color:#E83F6F;
    font-size: x-large;
    cursor: default;
}

.add-to-cart-container {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 75%;
}

.quantity-input-container td {
    height: 40px;
    width: 40px;
    outline: 2px solid #E83F6F;
    padding: 0;
}

.quantity-input-container button,
.quantity-input-container span {
    font-size: 22px;
    border: none;
}

.quantity-input-container button {
    height: 100%;
    width: 100%;
}

.quantity-input-container span {
    display: inline-block;
    width: 45px;
    padding: 0;
    text-align: center;
    background-color: white;
}

button.add-to-cart-button {
    height: 43px;
    width: 250px;
}